


.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}


.predict--section {
    width: 850px;
    margin: 0 auto;
    text-align: center;
}

.predict--text {
    color: green;
}