


main {
    padding: 57px 27px;
    color: #eff8ff;
    background-image: url(../image/IMAGE.jpg);
    background-repeat: no-repeat;
    /* background-position-x: right;
    background-position-y: center; */
    background-position: right 76%;
}

.main--titel {
    margin: 0px;
    font-size: 39px ;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top:  46px;
}

.main--facts > li {
    font-size: 16px;
    margin-top: 14px;
    max-width: 400px;
}

.main--facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}